<% title "New User" %>

<p>
  Invitation Only at the moment, unfortunately.  Feel free to bribe <%= mail_to "tbuser@gmail.com", "Tony" %> for an invitation code.  Robots, peanut butter cookies, and job offers are most effective.
</p>

<%= render :partial => 'form' %>

