<% title "About" %>

<p>
  Created by <%= link_to "Tony Buser", "http://tonybuser.com" %>
</p>

<p>
  It's <%= link_to "OpenSCAD", "http://openscad.org" %> for the web.  It lets you write, share, mashup, and customize parametric 3D models using the OpenSCAD scripting language all within the browser and doesn't require anything to be installed locally.
</p>

<p>
  That and a few other things...
</p>

<p>
  Generously hosted by <a href="http://cloudfab.com">CloudFab</a> because they are awesome.  CloudSCAD is not related to CloudFab in any way other then the fact that they're both awesome.  Did I mention CloudFab is awesome?
</p>