<% title "Projects" %>

<% for project in @projects %>
  <p class="project">
      <h2><%= link_to project.name, nice_project_path(project) %></h2>
      by <%= link_to project.user.username, project.user %> <%= time_ago_in_words(project.created_at) %> ago
  </p>
<% end %>

<%= will_paginate @projects %>