<%= render :partial => "header" %>

<%=
case params[:content_type]
when "tree"
  render :partial => "tree"
when "blob"
  render :partial => "blob"
when "blob-edit"
  render :partial => "blob-edit"
else
  raw('<p class="warning">Unknown Content Type</p>')
end
%>

<%= render :partial => "footer" %>
